<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
Posts
{% endblock %}

{% block content %}
<!-- Вывод количества новостей -->
<h1>Today's posts</h1>
    <p>Number of news: {{ Posts|length }}</p>
    <ul>
        {% for post in page_obj %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>Publication date: {{ post.created_at|date:"d.m.Y l" }}</p>
                <p>{{ post.text|truncatewords:30|censor }}</p>
                {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                 <!-- Гиперссылка для изменения новости/статьи -->
                {% if perms.news.change_post %}
                    <a href="{% url 'edit_news' pk=post.pk %}">Edit</a>
                {% endif %}
                {% if perms.news.delete_post %}
                    <a href="{% url 'delete_news' pk=post.pk %}">Delete</a>
                {% endif %}


            </li>
        {% endfor %}
    </ul>


 {# Добавляем пагинацию на страницу #}

 {# Pagination #}
<div class="pagination">
    {% if is_paginated %}
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}



